<nav class="menubar">
  <a href="{{ '/' | relative_url }}" class="menu-item menu-link">Home</a>

  <div class="menu-item has-dropdown">
    <a href="{{ '/research/neural-tuning-of-reading' | relative_url }}" class="menu-link">Research</a>
    <div class="dropdown">
      <a href="{{ '/research/neural-tuning-of-reading' | relative_url }}">Neural Tuning of Reading</a>
    </div>
  </div>

  <div class="menu-item has-dropdown">
    <a href="{{ '/#projects' | relative_url }}" class="menu-link">Projects</a>
    <div class="dropdown">
      <a href="{{ '/projects/erga-deum' | relative_url }}">Erga Deum</a>
      <a href="{{ '/projects/racket-compiler' | relative_url }}">Racket Compiler</a>
      <a href="{{ '/projects/game-mods' | relative_url }}">Game Mods</a>
    </div>
  </div>

  <a href="{{ '/blog' | relative_url }}" class="menu-item menu-link">Blog</a>

  <div class="menu-item has-dropdown">
    <span class="menu-link">Links</span>
    <div class="dropdown">
      <a href="https://github.com/cj-sz">GitHub</a>
      <a href="https://linkedin.com/in/calebjsolomon">LinkedIn</a>
      <div class="dropdown-divider"></div>
      <a href="{{ '/webring/' | relative_url }}">Webring</a>
    </div>
  </div>

  <a href="{{ '/contact' | relative_url }}" class="menu-item menu-link">Contact</a>
</nav>
