---
layout: default
---

<div class="page-container">
  <div class="page-header">
    <div class="blog-item-category">
      {% for cat in page.categories %}{{ cat }}{% unless forloop.last %}<span class="sep">›</span>{% endunless %}{% endfor %}
    </div>
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="page-meta">
      {{ page.date | date: "%B %d, %Y" }}{% if page.author %} &bull; {{ page.author }}{% endif %}
    </div>
  </div>
  
  <div class="page-content">
    {{ content }}
  </div>
</div>
